:root {
    --primary: #4294E3; --secondary: #8F12FD;
    --light: #F0F6FF; --dark: #262B47; --sec-font: "jost", sans-serif;
    scrollbar-color: #262B47 #e3e3e3; --main-p : #919294;
    scrollbar-width: thin }

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none }

body { font-family: 'Heebo', 'Jost' ,sans-serif }

.container, .container-fluid {
    width: 100%; padding-right:15px; padding-left: 15px;margin-right: auto; margin-left: auto }

.text-primary-gradient {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent }

.sec-padding { padding: 80px 0 }

.hidden, .hide { display: none }

.txt-center { text-align:center }

.mt-top { margin-top: 80px }

.dark-color { color: var(--dark) }

.main-p { font-size: 18px; line-height: 1.6; text-align: justify; font-weight: 500; color: var(--main-p) }

.open-menu {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #0C0C0E;
    z-index: 100;
}


.my-button { position: relative; display: block; padding: 13px 30px; color: #FFF;
    background: linear-gradient(to bottom right, var(--secondary), var(--primary)); border-radius: 50px; z-index: 1 }

.my-button::before { content: ""; position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; border-radius: 50px; transition: opacity 0.5s linear;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary)); z-index: -1; opacity: 0 }

.my-button:hover::before { opacity: 1 }

::-webkit-scrollbar { width: 11px }

::-webkit-scrollbar-track { background: #e3e3e3; margin-block: 2px }

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary)); height: 140px }
/* End Global Style */

header { position: absolute; top: 0; left: 0;width: 100%; z-index: 101; color: #FFF }

header .container { position: relative }

header .header-content { display: flex; justify-content: space-between; align-items: center; gap: 100px }

header .header-content .logo { display: flex; align-items: center; flex-basis: 150px; font-family: var(--sec-font) }

header .header-content .logo img { max-width: 120px; height: 32px; object-fit: cover; object-position: center }

header .header-content .logo h5 { font-size: 20px }

header .header-content .list { display: flex; justify-content: space-evenly; flex: 1 }

header .header-content .list li { transition: all 5s ease }

header .header-content .list a {
    color: #FFF; font-size: 18px; display: block; padding: 30px 0;
    font-weight: 500; font-family: var(--sec-font); position: relative }

header .header-content .list a::before {
    content: ""; position: absolute; top: 0; left: 50%; transform: translateX(-50%); border-width: 10px; border-style: solid; border-color: #FFF transparent transparent transparent; opacity: 0; transition: .3s }

header .header-content .list li.active a::before,
header .header-content .list li  a:hover::before { opacity: 1 }
/* End Header */

.landing { position: relative; height: 100vh;
    background: no-repeat url("../img/landing/bg-circle.png"), no-repeat right url("../img/landing/bg-triangle.png"), linear-gradient(to bottom right, var(--secondary), var(--primary)) }

.landing .custom-shape-divider-bottom-1690026188 {
    position: absolute; bottom: 0; left: 0; width: 100%;
    overflow: hidden; line-height: 0; transform: rotate(180deg); height: 160px }

.landing .custom-shape-divider-bottom-1690026188 svg {
     position: relative;display: block; width: calc(100% + 1.3px); height: 160px }

.landing .custom-shape-divider-bottom-1690026188 .shape-fill { fill: #FFF }

.landing-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;}

.landing-text .container {
    display: flex; justify-content: space-between; align-items: center; gap: 40px; height: 100vh }

.landing-text .container .text { flex-basis: 700px; color: #FFF }

 .landing-text .container .text h1 {
    font-family: var(--sec-font); font-size: 40px; line-height: 1.5; margin: 0 }

.landing-text .container .text p { font-size: 18px; line-height: 1.7; letter-spacing: 1px; margin: 30px 0 }

.landing-text .container .text .our-button { display: flex }

.landing-text .container .text .our-button a:first-of-type { margin-right: 30px }

.landing-text .frame {  position: relative; margin-top: 60px }

.landing-text .container .my-frame {
    background: center/ cover url(../img/landing/screenshot-frame.png) no-repeat;
    height: 480px;
    width: 240px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0; }

.my-slider { width: 230px; position: relative; top: 18px; left: 17px }

.my-slider .bx-wrapper { box-shadow: none; background: none; border: 0; text-align: center; margin-bottom: 0 }

.my-slider .item {
    height: 460px;
    width: 214px !Important;
}

.my-slider .bx-viewport { width: 90% !important; height: 450px !important;}

.my-slider .one { background: center/cover url("../img/slider/screenshot-1.png") no-repeat }
.my-slider .two { background: center/cover url("../img/slider/screenshot-2.png") no-repeat }
.my-slider .three { background: center/cover url("../img/slider/screenshot-3.png") no-repeat }
.my-slider .four { background: center/cover url("../img/slider/screenshot-4.png") no-repeat }
.my-slider .five { background: center/cover url("../img/slider/screenshot-5.png") no-repeat }

.my-slider .bx-wrapper .bx-pager-item { width: 20px }

.my-slider .bx-controls-direction { display: none }

.my-slider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 115px; z-index: 10000; right: -34px; display: flex; flex-direction: column; width: 20px }

.bx-wrapper .bx-pager.bx-default-pager a {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary)); width: 17px;
    height: 17px; margin: 0 0 15px; border-radius: 50%; box-shadow: 0 2px 10px rgb(255 255 255) }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));box-shadow: 0 2px 11px rgb(0,0,0) }
/* End Style Landing */

.about .about-container { display: grid; grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 60px; font-family: var(--sec-font) }

.about .about-container .about-info h4 { font-size: 22px }

.about .about-container .about-info h2 { font-size: 40px; margin: 20px 0 }

.about .about-container .about-info .box {
    display: flex; justify-content: flex-start;align-items: center; column-gap: 140px; margin: 30px 0 40px}

.about .about-container .about-info .box .box-content {
    display: flex; justify-content: flex-start; column-gap: 20px }

.about .about-container .about-info .box .box-content .box-icon h3 { font-size: 25px; margin-bottom: 12px }

.about .about-container .about-info .box .box-content .box-icon > div { font-size: 18px; font-weight: 500 }

.about .my-button { width: fit-content }

.about .about-container .about-image img { max-width: 100%; display: block }
/* End Style About */